.productInfo {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding-top: 24px;
}

.warning {
  margin-bottom: 0;
  padding: 20px;
}

.imageSide {
  flex: 1;
  width: 100%;
  max-width: 543px;
}

.imageSide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.contentSide {
  flex: 1;
  color: #1a1a1a;
}

.contentSide h1 {
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.95);
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.32px;
}

.description {
  margin-bottom: 12px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.description p {
  margin-bottom: 12px;
}

.description p:last-of-type {
  font-size: 18px;
  line-height: 28px;
}

.description b {
  font-weight: 400;
}

.description ul {
  margin-top: -4px;
  margin-bottom: 12px;
}

.description ul li {
  position: relative;
  padding-left: 16px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.description ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #1a1a1a;
  border-radius: 50%;
}

.description ul li strong {
  font-weight: 600;
}

.specs {
  margin-bottom: 16px;
}

.specItem {
  display: block;
  margin-bottom: 8px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
  background-color: rgba(26, 26, 26, 0.14);
}

.price {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.32px;
}

.imageSideMob {
  display: none;
}

@media (max-width: 768px) {
  .productInfo {
    flex-direction: column;
  }

  .imageSide {
    display: none;
  }

  .contentSide > .price,
  .contentSide > .divider {
    display: none;
  }

  .specs {
    margin-bottom: 0;
  }

  .imageSideMob {
    display: block;
    width: 100%;
  }

  .imageSideMob img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    margin-bottom: 24px;
  }

  .imageSideMob .price {
    margin-block: 24px;
  }

  .imageSideMob .divider {
    margin-bottom: 24px;
  }
}
