.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 128px);
  padding-block: 80px;
  text-align: center;
}

.title {
  margin-bottom: 24px;
  color: #000;
  font-size: 200px;
  font-weight: 500;
  line-height: 236px;
  letter-spacing: -2px;
}

.subtitle {
  margin-bottom: 12px;
  color: #000;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.32px;
}

.text {
  margin: 0 auto 24px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background: #1a1a1a;
  color: #fff;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .wrapper {
    min-height: calc(100vh - 176px);
  }

  .title {
    font-size: 80px;
    line-height: 90px;
  }

  .subtitle {
    font-size: 24px;
  }
}
