.section {
  padding-block: 113px;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
}

.title {
  margin-bottom: 24px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.32px;
}

.desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
