.section {
  padding-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 99px;
  background: #eaeaea;
}

.title {
  margin-bottom: 8px;
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.desc {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 768px) {
  .section {
    padding-bottom: 80px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
