* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  min-width: 360px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #1a1a1a;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}

button {
  border: 0;
  padding: 0;
  background: unset;
  font-family: inherit;
  line-height: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding-inline: 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
}
